:root {
  font-family: system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  line-height: 1.2;
  font-weight: 400;
  font-size: 6.25%; /* 1rem = (6.25/100) * 16px = 1px */
  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* dark theme */
  color: #ffffff;
  background-color: #333333;
}

/* dark theme */
@media (prefers-color-scheme: light) {
  :root {
    color: #333;
    background-color: #eeeeee;
  }
}

*,
*::before,
*::after {
  font-family: inherit;
  font-size: inherit;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: inherit;
}
a:hover {
  text-decoration: underline;
}

body {
  margin: 0;
  font-size: 14rem;
}

button {
  padding: 2rem 4rem;
}

fieldset {
  padding: 8rem;
}

iframe {
  border: none;
  display: block;
  width: 100%;
}

/* components */
.c-app-layout {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 8rem;
  width: 100%;
  max-width: 1080rem;
  margin: auto;
}

/* utils */
.u-rows {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.u-cols {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;

  gap: 4rem;
}
