/** SETTINGS */
:root {
  color-scheme: light dark;
  --system-font: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  --divider-color: light-dark(#333, #666);
}

/** RESETS */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  height: 100vh;
  margin: 0;
  font-family: var(--system-font);
}

/** COMPONENTS */
.app-layout {
  display: grid;
  grid-template-columns: auto 1fr;

  & > aside {
    overflow-y: auto;
    resize: horizontal;
    border-inline-end: 1px solid var(--divider-color);
  }
}

/** UTILS */
.rows {
  display: flex;
  flex-direction: column;
}
.cols {
  display: flex;
}
