:root {
  color-scheme: light dark;
}

body {
  font-family: monospace;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

.app-layout {
  display: grid;
  grid-template:
    "header header" auto
    "main aside" auto
    "main aside" 1fr / 1fr auto;

  header {
    grid-area: header;
  }

  main {
    grid-area: main;
  }

  aside {
    grid-area: aside;
  }
}

button {
  padding: 0.25rem 0.5rem;
}

[data-role]::before {
  content: "[" attr(data-role) "] ";
}

dialog {
  padding: 1rem;
  margin: auto;
  width: calc(100% - 2rem);
  max-width: 40rem;
}

.rows {
  display: grid;
}

textarea {
  padding: 0.25rem;
}
