:root {
  color-scheme: dark;
  --side-panel-background: #222;
}

body {
  font-family: monospace;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html,
body,
.app-layout {
  height: 100%;
}

.app-layout {
  display: grid;
  overflow: auto;
  align-content: start;
}

button {
  padding: 0rem 0.25rem;
}

.columns-layout {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100%;

  > * {
    overflow: auto;
    min-width: 0;
  }
}

dialog {
  padding: 1rem;
  margin: auto;
  width: calc(100% - 2rem);
  max-width: 60rem;
}
