.app-layout {
  height: 100%;
  display: grid;
  grid-template: "aside main" auto / auto 1fr;
}

.app-layout__aside {
  grid-area: aside;
  overflow: auto;
  resize: horizontal;
}

.app-layout__main {
  grid-area: main;
  overflow: auto;
}
