dialog {
  padding: 16px;
  position: absolute;
  left: 50%;
  top: 16px;
  transform: translateX(-50%);
  width: min(40rem, calc(100vw - 32px));
  max-height: calc(100vw - 16px - 16px);

  &[open] {
    display: grid;
  }
}
